<DOCTYPE! HTML>
<head id="top">
	<title>Documentation</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/main.css">
	<script src="../static/js/vendor/d3.v3.min.js"></script>
<body>
	<header id="main_nav">
    <nav>
      <ul id="top_nav" class="clearfix">
        <li><a href="home.html">Home</a></li>
		<li><a href="Fablev.0.0.02.html">FABLE</a></li>
        <li><a href="">Glossary</a></li>
        <li><a href="documentation.html">Documentation</a></li>
		
		<li><ul id="left_nav">
		<ul id="SECTOR_nav"><a href="#sectors"><b>SECTORS</b></a>
			<li><a href="#agrochem">Agrochemical</a></li>
			<li><a href="#agricul">Agricultural</a></li>
			<li><a href="#livefarm">Livestock Farming</a></li>
			<li><a href="#foodpro">Food Processing</a></li>
			<li><a href="#biofuel">Biofuels</a></li>
			<li><a href="#energy">Energy</a></li>
			<li><a href="#forest">Forestry</a></li>
			<li><a href="#timber">Timber</a></li>
			<li><a href="#ecoserv">Ecosystem Services</a></li>
		</ul>
		<ul><a href="#mbm"><b>MATH BEHIND THE MODEL</b></a></ul>
		<ul><a href="#biblo"><b>RESOURCES</b></a></ul>
		</ul></li>
      </ul>
    </nav>
  </header>
  
	
  <article id="main_content">
    <section id="intro">
      <header>
        <h1>MISSION</h1>
      </header>
    </section>
	<section id="intro-text" class="clearfix">
		<!--Input text here-->
		<p>
			Input text here!
		
		</p>
    </section>
	
	<section id="sectors">
      <header>
        <h1>SECTORS</h1>
      </header>
    </section>
	<section id="sector-text" class="clearfix">
	
	<h2 id="agrochem">Agrochemical</h2>
		<!--Input text here-->
		<p>
			Input text here!
			
		</p><br>
		<a href="#top">>>Top of Page</a>
	<h2 id="agricul">Agricultural</h2>
		<!--Input text here-->
		<p>
			Input text here!
			
		</p><br>
		<a href="#top">>>Top of Page</a>
	<h2 id="livefarm">Livestock Farming</h2>
		<!--Input text here-->
		<p>
			Input text here!
			
		</p><br>
		<a href="#top">>>Top of Page</a>
	<h2 id="foodpro">Food Processing</h2>
		<!--Input text here-->
		<p>
			Input text here!
			
		</p><br>
		<a href="#top">>>Top of Page</a>
	<h2 id="biofuel">Biofuels</h2>
		<!--Input text here-->
		<p>
			Input text here!
			
		</p><br>
		<a href="#top">>>Top of Page</a>
	<h2 id="energy">Energy</h2>
		<!--Input text here-->
		<p>
			Input text here!
			
		</p><br>
		<a href="#top">>>Top of Page</a>
	<h2 id="forest">Forestry</h2>
		<!--Input text here-->
		<p>
			Input text here!
			
		</p><br>
		<a href="#top">>>Top of Page</a>
	<h2 id="timber">Timber</h2>
		<!--Input text here-->
		<p>
			Input text here!
			
		</p><br>
		<a href="#top">>>Top of Page</a>
	<h2 id="ecoserv">Ecosystem Services</h2>
		<!--Input text here-->
		<p>
			Input text here!
			
		</p><br>
		<a href="#top">>>Top of Page</a>
    </section>
	
	<section id="mbm">
      <header>
        <h1>MATH BEHIND THE MODEL</h1>
      </header>
    </section>
	<section id="mbm-text" class="clearfix">
		<!--Input text here-->
		<p>
			Input text here!
		
		</p><br>
		<a href="#top">>>Top of Page</a>
    </section>
	
	<section id="biblo">
        <h1>RESOURCES</h1>
    </section>
	<section id="biblo-text" class="clearfix">
		<!--Input text here-->
		<p>
			Input text here!
		
		</p><br>
		<a href="#top">>>Top of Page</a>
    </section>
  </article>
</body>









