<DOCTYPE! HTML>
<head>
	<title>FABLE v.0.0.01</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/main.css">
	<script src="../static/js/vendor/d3.v3.min.js"></script>
	<STYLE TYPE="text/css">

		#menu1 { display : none }
		#menu2 { display : none }
		#menu3 { display : none }
		#menu4 { display : none }
		#menu5 { display : none }
		#menu6 { display : none }
		#menu7 { display : none }
		#menu8 { display : none }
		#menu9 { display : none }
		#menu0 { display : none }

		a:link {color:black; text-decoration:none}
		a:hover {color:blue; text-decoration:underline}

	</STYLE>
<body>
	<header id="main_nav">
    <nav>
      <ul id="top_nav" class="clearfix">
        <li><a href="">Home</a></li>
        <li><a href="">Glossary</a></li>
        <li><a href="">Documentation</a></li>
      </ul>
    </nav>
  </header>
  <li><ul id="left_nav">
	<b>SECTORS</b>
	<ul id="SECTOR_nav">
		<li><span onClick="document.all.menu1.style.display='block'" ondblclick="document.all.menu1.style.display='none'">
			Agrochemical</span><br>
			<span id="menu1" ><form>
				Foo 1: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 2: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 3: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 4: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 5: <input type="number" name="Foo" class="param"> (units)<br>
			</form></span></li>
		<li><span onClick="document.all.menu2.style.display='block'" ondblclick="document.all.menu2.style.display='none'">
			Agricultural</span><br>
			<span id="menu2" ><form>
				Foo 1: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 2: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 3: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 4: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 5: <input type="number" name="Foo" class="param"> (units)<br>
			</form></span></li>
			<li><span onClick="document.all.menu3.style.display='block'" ondblclick="document.all.menu3.style.display='none'">
			Livestock Farming</span><br>
			<span id="menu3" ><form>
				Foo 1: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 2: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 3: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 4: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 5: <input type="number" name="Foo" class="param"> (units)<br>
			</form></span></li>
			<li><span onClick="document.all.menu4.style.display='block'" ondblclick="document.all.menu4.style.display='none'">
			Food Processing</span><br>
			<span id="menu4" ><form>
				Foo 1: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 2: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 3: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 4: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 5: <input type="number" name="Foo" class="param"> (units)<br>
			<li><span onClick="document.all.menu5.style.display='block'" ondblclick="document.all.menu5.style.display='none'">
			Biofuels</span><br>
			<span id="menu5" ><form>
				Foo 1: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 2: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 3: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 4: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 5: <input type="number" name="Foo" class="param"> (units)<br>
			</form></span></li>
			<li><span onClick="document.all.menu6.style.display='block'" ondblclick="document.all.menu6.style.display='none'">
			Energy</span><br>
			<span id="menu6" ><form>
				Foo 1: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 2: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 3: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 4: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 5: <input type="number" name="Foo" class="param"> (units)<br>
			</form></span></li>
			<li><span onClick="document.all.menu7.style.display='block'" ondblclick="document.all.menu7.style.display='none'">
			Forestry</span><br>
			<span id="menu7" ><form>
				Foo 1: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 2: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 3: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 4: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 5: <input type="number" name="Foo" class="param"> (units)<br>
			</form></span></li>
			<li><span onClick="document.all.menu8.style.display='block'" ondblclick="document.all.menu8.style.display='none'">
			Timber</span><br>
			<span id="menu8" ><form>
				Foo 1: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 2: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 3: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 4: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 5: <input type="number" name="Foo" class="param"> (units)<br>
			</form></span></li>
			<li><span onClick="document.all.menu9.style.display='block'" ondblclick="document.all.menu9.style.display='none'">
			Ecosystem Services</span><br>
			<span id="menu9" ><form>
				Foo 1: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 2: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 3: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 4: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 5: <input type="number" name="Foo" class="param"> (units)<br>
			</form></span></li>
			<li><span onClick="document.all.menu0.style.display='block'" ondblclick="document.all.menu0.style.display='none'">
			Other</span><br>
			<span id="menu0" ><form>
				Foo 1: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 2: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 3: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 4: <input type="number" name="Foo" class="param"> (units)<br>
				Foo 5: <input type="number" name="Foo" class="param"> (units)<br>
			</form></span></li>
		</ul></li>
		</ul></li>
	</ul>
  <article id="main_content">
    <section>
      <header>
        <h1>Sample Graphs</h1>
      </header>
    </section>

    <section id="summary" class="clearfix">

      <div id="foo">
		<script src="../static/js/pieChart.js"></script>
		<script src="../static/js/lineGraph.js"></script>
		<script src="../static/js/BarGraph.js"></script>
		<script src="../static/js/scatterPlot.js"></script>
		
	  </div>

    </section>
  </article>
</body>