<DOCTYPE! HTML>
<head id="top">
	<title>Documentation</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/main.css">
	<script src="../static/js/vendor/d3.v3.min.js"></script>
<body>
	<header id="main_nav">
    <nav>
      <ul id="top_nav" class="clearfix">
        <li><a href="home.html">Home</a></li>
		<li><a href="Fablev.0.0.02.html">FABLE</a></li>
        <li><a href="">Glossary</a></li>
        <li><a href="documentation.html">Documentation</a></li>
      </ul>
    </nav>
  </header>
  <article id="main_content">
    <section id="intro">
      <header>
        <h1>Welcome to FABLE!</h1>
      </header>
    </section>
	<section id="intro-text" class="clearfix">
		<!--Input text here-->
		<p>
			Input text here!
		
		</p>
    </section>
  </article>
 </body>